[build]
  publish = "public/"
  command = "npm run build"

[[plugins]]
package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "public/assets/images", # Processed images - adjust to match your outputDir
    ".cache" # Remote Assets
  ]

[[redirects]]
  from = "https://websites3000.com/*"
  to = "https://www.website3000.com/:splat"
  status = 301
  force = true