
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1761">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <img class="cs-logomark" src="/assets/svgs/logo-footer.png" alt="logo" loading="lazy" decoding="async" height="100" width="481">
            <!--
            <h2 class="cs-title">Website3000</h2>
            <span class="cs-outline">Lightning-fast websites</span>
            -->
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <!--
            <img class="cs-logo" src="/assets/svgs/logo-footer.png" alt="logo" loading="lazy" decoding="async" height="427" width="100">
            -->
            <p class="cs-text">Hand-coded, lightning-fast, bulletproof websites for small businesses and professionals everywhere.</p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">Email</span>
                    <a class="cs-contact">hello@website3000.com</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Tel</span>
                    <a class="cs-contact">+61 466 340 941</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Location</span>
                    <a class="cs-contact">Melbourne VIC 3000 <br>Australia</a>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/pricing/">Pricing</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/faq/">FAQ</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/advantage/">Why Static Wins</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 <a href="/" class="cs-credit-link">Website3000</a>
        </span>
        <!--
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Terms & Conditions</a>
            <a href="" class="cs-bottom-link">Privacy Policy</a>
        </div>
        -->
    </div>
</footer>
                                