{% extends "layouts/blog-base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">

{% endblock %}

{% block body %}
    
<article class="blog-post">
    <div class="post-wrapper">
        
        <!-- Left sidebar with back link -->
        <aside class="post-sidebar">
            <a href="/blog" class="back-link">← Website3000 Blog</a>
        </aside>
        
        <!-- Main content -->
        <div class="post-container">
            <!-- Post title -->
            <h1 class="post-title">{{ title }}</h1>
            
            <!-- Post content -->
            <div class="post-content">
                {{ content | safe }}
            </div>
        </div>
        
    </div>
</article>


{% endblock %}