---
title: "Contact Us | Website3000 Melbourne"
description: "Ready for a fast, professional website? Reach out for a custom hand-coded website from $150/month. Based in Melbourne AU."
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-569">
    <div class="cs-container">
        <div class="cs-left">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Let's build something</h2>
                <p class="cs-text">
                    Whether you're a business, contractor, content creator, or anyone who needs a professional website upgrade, please fill out the form below and I'll get back to you as soon as possible. You're welcome to include details you'd like featured on your future website.
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-569" name="Contact" method="post" data-netlify="true" action="/success/">
                <label class="cs-label">
                    Name*
                    <input required class="cs-input" required type="text" id="name-569" name="name" placeholder="Jack Ford">
                </label>
                <label class="cs-label">
                    Phone*
                    <input required class="cs-input" required type="text" id="phone-569" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email*
                    <input required class="cs-input" required type="text" id="email-569" name="email" placeholder="business@mail.com">
                </label>
                <label class="cs-label">
                    Pricing package preference*
                    <input class="cs-input" required type="text" id="pricing-569" name="pricing" placeholder="Subscription or One-time payment">
                </label>
                <label class="cs-label">
                    Add a blog for SEO?
                    <input class="cs-input" type="text" id="blog-569" name="blog" placeholder="Yes / No / Tell me more">
                </label>
                <label class="cs-label">
                    Business Name
                    <input class="cs-input" type="text" id="businessname-569" name="businessname" placeholder="eg. Vanderbilt Roofing">
                </label>
                <label class="cs-label">
                    Current Website
                    <input class="cs-input" type="text" id="currentsite-569" name="currentsite" placeholder="eg. VanderbiltRoofing.com">
                </label>
                <label class="cs-label">
                    Location
                    <input class="cs-input" type="text" id="location-569" name="location" placeholder="eg. Melbourne">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" name="Message" id="message-569" placeholder="Type here"></textarea>
                </label>
                <button class="cs-submit" type="submit">Submit</button>
            </form>
        </div>
        <div class="cs-right">
            <!--Address-->
            <div class="cs-flex">
                <span class="cs-header">Location</span>
                <p class="cs-link">Melbourne VIC 3000<br>Australia</p> <!-- changed from <a> to <p> -->
            </div>
            <!--Contacts-->
            <div class="cs-flex">
                <span class="cs-header">Contact Info</span>
                <p class="cs-link">Email : hello@website3000.com</p> <!-- changed from <a> to <p> -->
                <p class="cs-link cs-phone">Mob : +61 466 340 941</p>
            </div>
            <!--Social-->
            <!--
            <ul class="cs-social">
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit twitter">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/twitter-gold.svg" alt="icon" width="18" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit facebook">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/facebook-gold.svg" alt="icon" width="10" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
                
            </ul>
            -->
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--        CTA - banner CS 697                  -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Time to level up.</h2>
            <!-- removed CTA button coz this is contact pg -->
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>  
 

{% endblock %}