---
title: "Thanks for reaching out! | Website3000"
description: "Your message has been received. I'll get back to you within 24 hours."
permalink: "/success/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/success.css">
    
{% endblock %}

{% block body %}

<!--
<div class="success-page">
    <h1>Success!</h1>
    <p>Form submitted. You will hear back soon.</p>
    <a href="/" class="cs-button-solid">Back to Homepage</a>
</div>
-->


<div class="success-page">
    <h1>Message received!</h1>
    <p class="cs-main-text">
        Thanks for reaching out! I'll get back to you within 24 hours.
    </p>
    <p class="cs-sub-text">
        In the meantime, check out some examples of my work or learn more about the Website3000 advantage.
    </p>
    
    <div class="cs-button-group">
        <a href="/#services-341" class="cs-button-solid">Portfolio</a>
        <a href="/advantage/" class="cs-button-outline">The Advantage</a>
    </div>
</div>


{% endblock %}