/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1821 {
        padding-top: 12rem;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1700/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            padding: var(--sectionPadding);
            background-color: #f7f7f7;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-topper {
            color: var(--bodyTextColor);
        }

        .cs-title {
            margin: 0 0 (32/16rem);
            max-width: none;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            max-width: (586/16rem);
            height: auto;
            display: block;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (586/16rem);
            padding: var(--sectionPadding);
            /* 16px - 44px */
            padding-left: clamp(1rem, 4vw, 2.75rem);
            /* 16px - 64px */
            padding-right: clamp(1rem, 4vw, 4rem);
            box-sizing: border-box;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 32px - 40px */
            gap: clamp(2rem, .5vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (586/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: justify;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1821 {
        .cs-container {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            align-items: center;
            background-color: transparent;

            &:before {
                /* background color, moves to the section parent at desktop */
                content: '';
                width: 100%;
                height: 100%;
                background: #f7f7f7;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        
        .cs-picture {
            margin-left: auto;
            max-width: 100%;
        }

        .cs-card-group {
            width: 50%; /* reduced this from 65% and img is bigger, more visible. */
            max-width: 100%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            flex-direction: row;
        }
    }
}

/* Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #why-choose-1821 {

        .cs-container {
            width: 100%;
            max-width: (1700/16rem);
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: stretch; /* This should already be here from tablet */
            position: relative;
            z-index: 1;
        }

        &:before {
            /* background color */
            content: '';
            width: 100%;
            height: 100%;
            background: #f7f7f7;
            opacity: 1;
            display: block;
            position: absolute;
            left: auto;
            right: 50%;
            margin-right: (10/16rem);
            z-index: -1;
        }

        /* Decided not to style cs-text-box, it still exists in html for now. */
        /*
        .cs-text-box {
            border: 2px solid #777777;
            border-radius: 8px;
            padding: (16/16rem) (16/16rem);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            background-color: rgba(255, 255, 255, 0.5);
        } */

        .cs-title {
            margin-bottom: 0;
            max-width: none;
            white-space: nowrap;
        }

        .cs-content {
            width: 50%;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            /* padding-left: (60/16rem); << not needed after V used display: flex and centered the div :] */
            /* padding-right: (60/16rem); */
        }

       .cs-picture {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center; /* Vertically center */
            justify-content: center; /* Horizontally center */
            flex-shrink: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            padding: (10/16rem) (10/16rem);
            box-sizing: border-box;
            
            img { /* although removing this img {} bit makes no difference visually, claude says keep it coz if you upload a large img, these constraints keep it from breaking out of its container. It's called defensive coding. */
                max-width: 100%;
                height: auto;
                max-height: 90%;
                object-fit: contain;
            }
        }

        /* img issue in Safari so replaced below with above.
        .cs-picture {
            width: auto;
            height: 80%;
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: (40/16rem);
            right: (40/16rem);
            z-index: -1;
            
            img {
                width: auto;
                height: 100%;
                max-height: (760/16rem);
                object-fit: contain;
            }
        } */

        .cs-card-group {
            width: 50%;
        }
    }
}

/*-- -------------------------- -->
<---     CTA - CS 697            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        /* Adding css (less) bg texture instead of orig CS svg bg img */
        background-image: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 30px,
            rgba(255, 255, 255, 0.04) 30px,
            rgba(255, 255, 255, 0.04) 40px
            );

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            // color: var(--bodyTextColorWhite);
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #000;
                &:before {
                    width: 100%;
                }
            }
        }

    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}